.dulcemente {
  background-image: url("../images/Capture+_2019-10-22-18-45-56.png");	
  color: black;
  padding: 8px;
  padding-top: 50px;

  font-family: initial;
  -webkit-font-smoothing: never;
  -moz-osx-font-smoothing: never;

  font-family: initial;

  h2	{ 
      color:blue;

  }
  p	{ 
      color: black;

  }
  h3	{ 
      color: black;

  }	
  h4	{ 
      color: black;

  }	
  h5	{ 
      color: black;

  }
  h6	{ 
      color: black;

  }	
  ul	{ 
      color: black;

  }
  ol	{ 
      color: black;

  }	
}